/* Font */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Josefin+Sans&family=Playpen+Sans:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,100&family=Quicksand:wght@500&display=swap");

/* Variables */
:root {
  --c-brand: #000000;
  --c-brand-rgb: 248, 54, 145;
  --c-dark: #303050;
  --c-body: #636383;
  --f-main: "Bai Jamjuree", sans-serif;
  --transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  --c-light: #f6f6f6;
  --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--f-main);
  color: var(--c-body);
  line-height: 1.7;
}

.text-brand {
  color: var(--c-brand);
}

.setion-title {
  max-width: 560px;
  margin: 0 auto 60px auto;
}

.section-title .line {
  width: 60px;
  height: 2px;
  background-color: var(--c-brand);
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 100px;
}

.section-connector {
  position: relative;
}
#navbarNav {
  justify-content: end;
}
.section-connector::after {
  content: "";
  width: 2px;
  height: 100px;
  background-color: var(--c-brand);
  position: absolute;
  top: -50px;
  left: 50%;
}
#navbar {
  background: transparent;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
  color: var(--c-dark);
}
.designation_box h1 {
  font-size: 3rem;
}
.designation_box h4 {
  font-size: 2rem;
  font-weight: bold;
}
.designation_box h1 span {
  font-size: 4rem;
}
/* .designation_box a{
    background-color: #303050;
    color: white;
} */
.designation_box {
  width: 37%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(35%, 75%);
  background-color: #ffffff00;
  padding: 20px;
  box-shadow: 10px 10px #ccc6c9;
}
a {
  text-decoration: none;
  color: var(--c-dark);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand);
}

img {
  width: 100%;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* NAVIGATION BAR CSS */
.navbar {
  padding-top: 7px;
  padding-bottom: 7px;
  transition: var(--transition);
  background-color: white;
}

.navbar.scrolled {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
  box-shadow: var(--shadow);
}

.navbar-toggler {
  border-radius: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.navbar .navbar-nav .nav-link {
  font-weight: 600;
  color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--c-brand);
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: var(--c-dark);
}

.social-icon {
  width: 36px;
  height: 36px;
  background-color: var(--c-brand);
  color: white;
  border: 2px solid var(--c-brand);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  border-radius: 50%;
}

#home .container {
  /* background-color: aqua; */
}
.social-icon:hover {
  background-color: transparent;
}

/* Get connected button */
.btn {
  padding: 10px 24px;
  border-radius: 0px;
  font-weight: 500;
  border-width: 2px;
}

.btn-brand,
.btn-brand:focus {
  background-color: var(--c-brand);
  color: white;
  border-color: var(--c-brand);
}

.btn-brand:hover {
  background-color: transparent;
  color: var(--c-brand);
  border-color: var(--c-brand);
}

/* HOME CSS */

#home {
  background-image: url(../images/2222.jpg);
  background-position: center;
  background-size: cover;
}

/* Service Section CSS */
.service-icon {
  width: 60px;
  height: 60px;
  background-color: var(--c-brand);
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.custom-link {
  display: inline-flex;
  align-items: center;
}

.custom-link span {
  font-weight: 700;
}

.custom-link i {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-brand);
  border-radius: 100px;
  color: white;
  margin-left: 6px;
  transition: var(--transition);
}

.custom-link:hover i {
  transform: translateX(6px);
}

#services .container .row h5 {
  height: 55px;
}

#services .container .row p {
  height: 120px;
}

/* Project */

.project {
  overflow: hidden;
  position: relative;
}

.project .content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--c-brand);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project img,
.project .content {
  transition: var(--transition);
}

.project:hover .content {
  top: 0;
}

.project:hover img {
  transform: translateY(-100%);
}

/* CLIENT CSS */
.client {
  margin-top: -1px;
  margin-left: -1px;
}

.client img {
  height: 30px;
  opacity: 0.6;
}

/* RESUME */
.eduexp {
  position: relative;
}

.eduexp::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--c-brand);
  position: absolute;
  left: 0;
  top: 0;
}
.eduexp::after {
  content: "";
  height: 14px;
  width: 14px;
  background-color: var(--c-brand);
  position: absolute;
  left: -7px;
  top: 0;
}

#contact .form-control {
  border-radius: 0;
}

#contact input.form-control {
  height: 44px;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* Footer */
footer {
  background-color: var(--c-brand);
  padding-top: 80px;
}

footer h4 {
  margin-top: 15px;
  color: white;
}

footer p,
footer li,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solidrgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-bottom i {
  color: red;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 768px) {
  #home {
    background-image: url(../images/333.jpg);
    background-position: center;
    background-size: cover;
  }
  .designation_box {
    width: 73%;
    transform: translate(19%, 75%);
  }
}
@media (max-width: 480px) {
  .designation_box h1 {
    font-size: 1rem;
  }
  .designation_box h1 span {
    font-size: 2rem;
  }
  .designation_box h4 {
    font-size: 1rem;
  }
  .designation_box {
    transform: translate(19%, 50%);
  }
}
